<header>
    <app-menu></app-menu>
    <img src="assets/images/mylogo.png" alt="" class="logo">
</header>

<router-outlet></router-outlet>

<footer>
  <div class="social-link">
    <a href="https://www.facebook.com/dailyrious/" target="_blank" target="_blank"><i class="icon-facebook-official"></i></a>
    <a href="https://twitter.com/xdailyrious" target="_blank" target="_blank"><i class="icon-twitter"></i></a>
    <a href="https://plus.google.com/114588568441668956496?hl=fr" target="_blank"><i class="icon-google-plus-square"></i></a>
  </div>
  <div class="thanks">
    Thank you for visiting my website !<br/>
    <small style="opacity:0.6">Wanna check my last <a style="font-size:14px; padding:0; margin:0" href="#" target="_blank">website</a></small>?
  </div>
  <div class="copyright">
    Anthony Gallippi 2017
  </div>
</footer>
