<section>

  <h2>Take a look at my works</h2>

  <div class="works" *ngFor="let work of works; let index = index">
    <article [class.last]="index == 2">
      <div class="article-content">
        <img src="../assets/images/{{work.images}}">
        <div class="box-over article-description">
          <a target="_blank" href="{{work.link}}">{{work.name}}</a>
          <p>{{work.description}}</p>
          <p [innerHtml]="work.technologies"></p>
        </div>
      </div>
    </article>

    <hr/>
  
  </div>

</section>