<section>
  <h2>About me</h2>
  <div class="experiences">
    <div class="row" *ngFor="let experience of experiences">
      <div class="articles-content">
        <article class="box-over" [ngStyle]="{'border-color': experience.bcolor}">
          <h3>{{experience.name}}</h3>
          <p class="contract">{{experience.contract}}</p>
          <p class="date">{{experience.date}}</p>
          <p class="description">{{experience.description}}</p>
          <ul>
            <li *ngFor="let task of experience.tasks">{{task.label}}</li>
          </ul>
        </article>
      </div>
      <div class="historic-arrow" [ngStyle]="{'background': experience.bcolor}"></div>
    </div>
  </div>
</section>
