/* You can add global styles to this file, and also import other style files */

@import 'assets/sass/variables';
@import 'assets/sass/global';
@import 'assets/sass/fontastic';
@import 'assets/sass/menu';
@import 'assets/sass/articles';
@import 'assets/sass/footer';
@import 'assets/sass/skills';
@import 'assets/sass/works';
@import 'assets/sass/about';