<nav>
  <ul class="menu">
    <li routerLink="/skills" routerLinkActive="active">
      Skills
    </li>
    <li routerLink="/works" routerLinkActive="active">
      Works
    </li>
    <li routerLink="/about" routerLinkActive="active">
      About
    </li>
    <li routerLink="/contact" routerLinkActive="active">
      Contact
    </li>
  </ul>
</nav>

<div class="menu-float lg" [ngClass]="active ? 'active' : ''" (click)="showMenu()">
  <div class="nav-item btn-rounded">
      <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>
</div>
