@font-face {
  font-family: "heroes-font";
  src:url("assets/fonts/heroes-font.eot");
  src:url("assets/fonts/heroes-font.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/heroes-font.woff") format("woff"),
    url("assets/fonts/heroes-font.ttf") format("truetype"),
    url("assets/fonts/heroes-font.svg#heroes-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "heroes-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "heroes-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-official:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-google-plus-square:before {
  content: "\63";
}