* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #fafafa;
  margin: 0;
  font-size: 16px;
}

@keyframes fadein {
  0%   {opacity: 0}
  100% {opacity: 1}
}

hr {
  border: none;
  background: #dbdbdb;
  height: 1px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #42b983;
  padding: 40px 0;
  padding-top: 30px;
  position: relative;
  width: 100%;
  z-index: 10;

  @media screen and (max-width: $break-small) {
      padding: 0;
      height: 60px;
      position: fixed;
      top: 0;
      left: 0;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  }

  .logo {

    display: block;
    max-width: 260px;
    width: 100%;
    @media screen and (max-width: $break-small) {
        height: 48px;
        width: auto;
        max-width: initial;
    }
  }

  
}

section {
  animation: fadein 1s;
  padding: 30px;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  
  @media screen and (max-width: $break-small) {
    padding: 10px;
    padding-top: 60px;
  }
}

h1, h2, h3 {
  font-weight: normal;
  color: #42b983;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

h2 {
  font-size: 1.5em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

h3 {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  cursor: pointer;
  color: #42b983;
  text-decoration: none;
}

p, ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-heroe {
  font-family: inherit;
  width: 100%;
  padding: 10px 14px;
  border-radius: 4px;
  color: #2c3e50;
  border: solid 1px lightgray;
  transition: all 0.25s;
  resize: none;
}

.form-heroe::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  color: lightgray;
}
.form-heroe::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  color: lightgray;
}
.form-heroe:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  color: lightgray;
}
.form-heroe:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
  color: lightgray;
}

.form-heroe:focus, .form-heroe:active {
  outline: 0;
  border-color: darkgray;
}

.form-heroe:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darkgray;
}
.form-heroe:focus::-moz-placeholder { /* Firefox 19+ */
  color: darkgray;
}
.form-heroe:focus:-ms-input-placeholder { /* IE 10+ */
  color: darkgray;
}
.form-heroe:focus:-moz-placeholder { /* Firefox 18- */
  color: darkgray;
}

.btn-sweet {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.8rem 1.8rem;
  border-radius: 2px;
  background: #42b983;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.btn-sweet[disabled] {
  opacity: 0.8;
  cursor: not-allowed;
}

.btn-sweet.btn-fat {
  padding: 1.2rem 2.6rem;
  font-size: 1.1em;
}

.flex-box {
  display: flex;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}