ul.menu {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    li {
        letter-spacing: .3px;
        font-size: 16px;
        text-transform: uppercase;
        padding: 14px 10px;
        margin: 0 4px;
        cursor: pointer;
        font-weight: 400;
        color: white;
        border-radius: 6px;
        transition: all 0.25s;
        position: relative;

        &:after {
            display: block;
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            height: 4px;
            width: 0;
            margin: 0 auto;
            transition: all 0.25s;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 2px;
        }

        &:hover {
            color: rgba(255,255,255,0.6);
        }

        &.active {

            &:after {
                left: 0;
                width: 100%;
            }
            &:hover {
                color: white;
            }
        }

        &:focus,
        &:active {
            outline: 0;
        }
    }
    
}