div.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    article {
        max-width: 380px;
        width: 100%;

        &.box-over {
            background: #fff;
            //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
            box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
            padding: 20px;
            margin: 10px;
            border-radius: 4px;
            transition: box-shadow .28s;

            &.link:hover {
                span[class^="icon-"] {
                    color: #929292;
                }
                box-shadow: 0 6px 6px rgba(10,16,20,.24), 0 0 6px rgba(10,16,20,.12);
            }
        }
    
        .article-content {
    
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;

            h3 {
                color: #2c3e50;
                margin-top: 0;
                margin-bottom: 20px;
                text-align: center;
            }
    
            p {
                letter-spacing: .3px;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                text-align: left;
            }
    
            img {
                width: 120px;
            }

            span[class^="icon-"] {
                /*text-shadow: 0px 2px 4px rgba(0,0,0,0.8);*/
                font-size: 120px;
                text-shadow: none;
                border: 0;
                outline: 0;
                color: #afafaf;
                transition: color 0.35s;
            }
    
            .article-description {
                width: 300px;
                margin: 10px;
                flex-grow: 1;
                @media screen and (max-width: $break-small) {
                    margin: 0;
                }
            }
        }

        &.last + hr {
            display: none;
        }
    }
}