div.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    article {
        max-width: 380px;

        &.box-over {
            background: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
            padding: 20px;
            margin: 10px;
        }
    
        .article-content {
    
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;

            h3 {
                color: #2c3e50;
                margin-top: 0;
                margin-bottom: 20px;
                text-align: center;
            }
    
            p {
                letter-spacing: .3px;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                text-align: left;
            }
    
            img {
                width: 120px;
            }

            span[class^="icon-"] {
                font-size: 120px;
				text-shadow: 0px 2px 4px rgba(0,0,0,0.8);
            }
    
            .article-description {
                width: 300px;
                margin: 10px;
                flex-grow: 1;
                @media screen and (max-width: $break-small) {
                    margin: 0;
                }
            }
        }

        &.last + hr {
            display: none;
        }
    }
}